:root {
    
    --color-gren-secundary: #DDF312;

    --color-gray-primary: #999999;
    --color-gray-light: #dacfcf;
    
    --color-white-light: rgb(242, 237, 237); 
    --color-white-primary: #fff;

    --color-black-opacity: #0000005d;
}


* {
    clear: both;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index:5 !important
}

html, body {
    width: 100%;

    font-family:'Roboto', sans-serif;
    background-color: var(--color-white-primary) !important;
}


/*============= Margens ==================*/

.mt-6{
    margin-top:6em;
}



/*============= DEFAULT ==================*/

a {
    text-decoration: none;
    color: var(--color-white-primary)
}


a:active {
    text-decoration: none;
    color: #CCC
}

.text-green-secundary {
    color: var(--color-gren-secundary);
}

/*============= NAVBAR ==================*/

.nav-links li {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    margin-left: 2em;
    font-size: 1.2em;
    font-weight: 400 !important;
    color: #fff !important;
}

.nav-links li a {
    color: #fff !important;
}

.navbar-customize {
    padding-left: 5%;
    padding-right: 5%;
    z-index: 4 ;
    background-color: rgba(0, 0, 0, 0);
}

.bg-main-blue {
    background-color: #17a3b8bf;
    height: 45vw;
    z-index: 1 !important;
    position: absolute;
    top: 0;
}


.banner-img {
    background-image: url('../img/home/bg.jpg');
    background-repeat: no-repeat, repeat-y;
    background-attachment: scroll;
    height: 45vw;
    z-index: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-main-blue-full {
    background-color: #17a3b8bf;
    height: 100%;
    z-index: 1 !important;
    position: absolute;
    top: 0;
}


.banner-img-full {
    background-image: url('../img/home/bg.jpg');
    background-repeat: no-repeat, repeat-y;
    background-attachment: scroll;
    height: 100%;
    z-index: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
}


.logo {
    font-size: 2em;
    font-weight: 600;
    color: #fff !important;
}

.btn-login {
    background-color: rgba(0, 0, 0, 0.152);
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.btn-emergency {
    color: #F90000 !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


