<header>
    <nav class="navbar navbar-expand-lg  navbar-light bg-inverse  navbar-customize">
        <a class="navbar-brand logo" href="#">
            <span class="text-green-secundary">S.O.S</span> <span>Cidadão</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav nav-links  ">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nós</a>
                </li>
                <!-- Trocar Cadastrar por Criar conta-->
                <li class="nav-item">
                    <a class="nav-link" href="">
                        @Html.ActionLink("Cadastrar", "Create", "Pessoa")
                    </a>
                </li>
                <!-- Trocar login por Entrar-->
                <li class="nav-item mt-2">
                    <a class="btn btn-login" href="#">
                        Login
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="btn btn-danger btn-emergency" href="#">+ Emergência </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

