<header>
    <nav class="navbar  navbar-expand-lg navbar-light bg-inverse  navbar-customize">
        <a class="navbar-brand logo" href="#">
            <span class="text-green-secundary">S.O.S</span> <span>Cidadão</span>
        </a>
        <button id="btn-menu-mobile" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav nav-links">
                <li class="nav-item">
                    @Html.ActionLink("Início", "Index", "Home")
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Sobre nós
                    </a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Criar Conta", "Create", "Pessoa")
                </li>
                <!-- Trocar login por Entrar-->
                <li class="nav-item mt-2">
                    <a class="btn btn-login" asp-controller="Home" asp-action="indexsystem">
                        Entrar
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="btn btn-danger btn-emergency" href="#">+ Emergência </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

@if (ViewBag.isBannerHidden)
{
    <div class="container-fluid bg-main-blue">
    </div>
    <div class="container-fluid banner-img">
    </div>

}
else if (ViewBag.isBannerFull)
{
    <div class="container-fluid bg-main-blue-full">
    </div>
    <div class="container-fluid banner-img-full">
    </div>
}



