<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> SOS Cidadão - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sos_cidadao_root.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
</head>
<body>

    @await Html.PartialAsync("_HeaderPrimary.cshtml")

    <div class="container-fluid mt-5 pt-3 p-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  text-muted bg-dark">
        <div class="container text-info">
            &copy; 2020 - SoSCidadaoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/criar_conta.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
