@model SosCidadaoWeb.Models.TipopertenceModel

@{
    ViewData["Title"] = "Deletar";
    Layout = "_LayoutDashboard";
}



<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrganizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrganizacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
