
@model SosCidadaoWeb.Models.PessoaRegisterModel

@{
    ViewData["Title"] = "Criar Pessoa";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-self-center mt-5">
    <div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-8 pt-4 bg-white align-content-center rounded shadow" id="box-main">
        <div class="row">
            <div class="col-md-12">
                <h1>Criar Conta</h1>

                <h4 id="step">Etapa 1</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <form asp-action="Create" class="col-md-12" id="form-create">
                <div class="row" id="data-personal">
                    <div class="col-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group ">
                            <label asp-for="pessoa.Nome" class="control-label"></label>
                            <input asp-for="pessoa.Nome" class="form-control" />
                            <span asp-validation-for="pessoa.Nome" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="pessoa.Email" class="control-label"></label>
                            <input asp-for="pessoa.Email" class="form-control" />
                            <span asp-validation-for="pessoa.Email" class="text-danger"></span>
                        </div>


                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="pessoa.Cpf" class="control-label"></label>
                                <input asp-for="pessoa.Cpf" class="form-control" />
                                <span asp-validation-for="pessoa.Cpf" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="pessoa.Sexo" class="control-label"></label>
                                <select asp-for="pessoa.Sexo" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                    <option value="0">Feminino</option>
                                    <option value="1">Masculino</option>
                                </select>
                                <span asp-validation-for="pessoa.Sexo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="pessoa.DataNascimento" class="control-label"></label>
                                <input asp-for="pessoa.DataNascimento" class="form-control" />
                                <span asp-validation-for="pessoa.DataNascimento" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="pessoa.Telefone" class="control-label"></label>
                                <input asp-for="pessoa.Telefone" class="form-control" />
                                <span asp-validation-for="pessoa.Telefone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="form-group col-8">
                                <label asp-for="pessoa.Cep" class="control-label"></label>
                                <div class="col-12">
                                    <div class="row">
                                        <input asp-for="pessoa.Cep" class="form-control col-7" />
                                        <span id="valida_cep" class="btn btn-success ml-2 col-3">
                                            Buscar
                                        </span>
                                    </div>
                                </div>

                                <span asp-validation-for="pessoa.Cep" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-4">
                                <label asp-for="pessoa.Uf" class="control-label"></label>
                                <input asp-for="pessoa.Uf" class="form-control" />
                                <span asp-validation-for="pessoa.Uf" class="text-danger"></span>
                            </div>
                            <div class="form-group col-8">
                                <label asp-for="pessoa.Cidade" class="control-label"></label>
                                <input asp-for="pessoa.Cidade" class="form-control" />
                                <span asp-validation-for="pessoa.Cidade" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-9">
                                <label asp-for="pessoa.Rua" class="control-label"></label>
                                <input asp-for="pessoa.Rua" class="form-control" />
                                <span asp-validation-for="pessoa.Rua" class="text-danger"></span>
                            </div>

                            <div class="form-group col-3">
                                <label asp-for="pessoa.NumeroEndereco" class="control-label"></label>
                                <input asp-for="pessoa.NumeroEndereco" class="form-control" />
                                <span asp-validation-for="pessoa.NumeroEndereco" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-9">
                                <label asp-for="pessoa.Bairro" class="control-label"></label>
                                <input asp-for="pessoa.Bairro" class="form-control" />
                                <span asp-validation-for="pessoa.Bairro" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-9">
                                <label asp-for="pessoa.IdOrganizacao" class="control-label"></label>
                                <input asp-for="pessoa.IdOrganizacao" class="form-control" />
                                <span asp-validation-for="pessoa.IdOrganizacao" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row d-none" id="data-user">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="align-content-center">
                            <div class="col-12">

                                <div class="form-group">
                                    <label asp-for="register.UserName"></label>
                                    <input asp-for="register.UserName" class="form-control" />
                                    <span asp-validation-for="register.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="register.Password"></label>
                                    <input asp-for="register.Password" class="form-control" />
                                    <span asp-validation-for="register.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="register.ConfirmPassword"></label>
                                    <input asp-for="register.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="register.ConfirmPassword" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6">
                        <div class="form-group">
                            <a id="btn_back" asp-controller="Home" asp-action="Index" class="btn btn-outline-danger pointer">
                                Voltar
                            </a>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <div class="form-group">
                            <div id="bt_create" class="btn btn-primary pointer">
                                Continuar
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}