@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Recuperar senha";
    ViewBag.isBannerHidden = false;
    ViewBag.isBannerFull = true;
}

<div class="d-flex justify-content-center align-self-center">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-3 p-5 bg-white align-content-center rounded shadow" id="box-main">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">E-mail*</label>
                <input asp-for="Input.Email" placeholder="Digite seu e-mail associado a conta" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Recuperar</button>
        </form>
        <hr />
        <div class="col-12">
            <span class>
                Será enviado um e-mail com os seguintes passos para a recuperação da senha.
            </span>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
