@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
    ViewBag.isBannerHidden = false;
    ViewBag.isBannerFull = true;
}

<div class="d-flex justify-content-center align-self-center">
    <div class="col-12 col-sm-8 col-md-7 col-lg-7 col-xl-4 pt-4 bg-white align-content-center rounded shadow" id="box-main">

            <form id="account" method="post">
                <h4 class="text-center">Entrar</h4>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="col-11 col-lg-9">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group col-12">
                            <label asp-for="Input.Email">E-mail * </label>
                            <input asp-for="Input.Email" name="email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="Input.Password">Senha *</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-md btn-block btn-blue-default">Entrar</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="col-11 col-lg-9">
                        <div>
                            Novo na plataforma? <a class="btn btn-link m-0 p-0" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastre-se aqui!</a>
                        </div>
                        <div>
                            <a id="forgot-password" class="btn btn-link m-0 p-0" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                        </div>
                    </div>
                </div>
            </form>
       
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
